.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 18px 18px 18px 0;
  height: 601px;
  width: 503px;
  background-color: white;
}

.ProductCardInfo{
  height: 70px;
  width: 417px;
  display: flex;
  justify-content:space-between;
  align-items: start;
  margin-top: 40px;
}

.imageProductCart {
  border-radius: 8px;
  height: 446px;
  width: 503px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:bottom;
}

.ProductCardName{
  white-space:nowrap;
   font-weight: bold;
  font-size: 28px;
  font-family: HelveticaNeue-Bold,AdobeInvisFont,MyriadPro-Regular, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.ProductCardFilmGenre{
width: 300px;
}