.Banner {
    margin: 18px 0;
    height: 507px;
    display: flex;
    flex-direction: column;
    background-image: url('../../../assets/images/backGroundBaner.png');
    background-repeat: no-repeat;
    background-position: center;

}

.transparentBanner {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
}


.BannerText {
    font-family: HelveticaNeue-Light, AdobeInvisFont, MyriadPro-Regular, sans-serif;
    max-width: 1050px;
    color: white;
    text-align: center;
    font-size: 56px;
    letter-spacing: -1px;
    font-weight: inherit;
}