.Logo {
  align-self: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.Logo::after {
  content: 'rise';
  font-weight: 100;
  font-size: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

.LogoFooter {
  align-self: center;
  font-size: 50px;
  color: #0AAEE4;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.LogoFooter::after {
  content: 'rise';
  font-weight: 100;
  font-size: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

