/* .ContainerContext {
  max-width: 2137px;
} */

.ContainerSection {
  width: 2400px;
  margin: 0 auto;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}