.NavSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid #E0E1E2;
  margin: 75px 0 18px 0;
}

.NavSectionMenu {
  padding-left: 8px;
}

