.Footer {
  max-width: 2134px;
  height: 264px;
  align-items: space-around;
  margin: 0 auto;
  justify-content: space-around;
}

.FooterTop {
  align-items: center;
}
.FooterMenu{
width: 400px;
}

.social-network {
  width: 242px;
  margin-left: 159px;
  height: 36px;
  color: #cecfcf;
  background-image: url('https://res.cloudinary.com/dk88eyahu/image/upload/v1596787970/rhw1/social%20network%20icon/Social_Icons_rxeycd.png');
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: right;
}

.FooterBottom {
  font-family: HelveticaNeue-Thin,HelveticaNeue-CondensedBlack,HelveticaNeue,AdobeInvisFont,MyriadPro-Regular,sans-serif;
  font-size: 25px;
  color:#cecfcf;
}