.Loading {
  height: 57px;
  width: 69px;
  color: #0aaee4;
  background-image: url('https://res.cloudinary.com/dk88eyahu/image/upload/v1596738196/rhw1/loading/Loading_Icon_1X_1_zzu7pq.png');
  background-repeat: no-repeat;
}
.LoadingContainer {
  height: 287px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LoadingText{
    text-transform: uppercase;
    font-size: 22px;
    font-family: HelveticaNeue-Medium,AdobeInvisFont,MyriadPro-Regular,sans-serif;
}