.Description{
    color:white;
    font-family: HelveticaNeue,AdobeInvisFont,MyriadPro-Regular, sans-serif;
    font-size: 24px;
    margin: 0;
    cursor: pointer;
} 

.DescriptionBlue{
    color:#0AAEE4;
    font-family: HelveticaNeue,AdobeInvisFont,MyriadPro-Regular, sans-serif;
    font-size: 24px;
    margin: 0;
    cursor: pointer;
    
}

.DescriptionGray{
    color:#A7AAAB;
    font-family: HelveticaNeue,AdobeInvisFont,MyriadPro-Regular, sans-serif;
    font-size: 24px;
    margin: 0;
    cursor: pointer;
    
}