.HeaderBottomTittle {

    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    font-size: 60px;
    font-family: HelveticaNeue-Bold, AdobeInvisFont, MyriadPro-Regular, sans-serif;
    color: white;
    margin: 0;

}

.HeaderBottomTittleContainer {
    position: absolute;
    width: 615px;
}