.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body {
  padding-top: 80px;
}

.show-cart li {
  display: flex;
}
.card { 
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
