.NavDescription {
    display: flex;
    color: #0AAEE4;
    font-family: HelveticaNeue-Bold, HelveticaNeue, AdobeInvisFont, MyriadPro-Regular, sans-serif;
    font-size: 27px;
    margin: 0;
    cursor: pointer;
    margin-right: 50px;
    letter-spacing: 1px;
}

.NavDescription:hover {
    border-bottom: 5px solid #0AAEE4;
    font-weight: bold;
    padding-bottom: 7px;
}

.NavDescription:last-child::after {
    content: 'v';
    font-size: 20px;
    padding-left: 8px;
    padding-top: 6px;
}

.NavDescription:last-child::after:hover {
    font-weight: bold;
}