.Section {
  max-width: 2134px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
   margin: 0 auto;
}

.PhotoSectionContainer{
  width: 100%;
  background-color: #f5f6f6;
  margin: 0 auto;
}
