.buttonClassBlue {
  font-family: HelveticaNeue, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  background-color: #0aaee4;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 7px;
  color: white;
  align-self: center;
  font-size: 30px;
  cursor: pointer;
}
.buttonClassTransparent {
  font-family: HelveticaNeue, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 7px;
  color: white;
  align-self: center;
  font-size: 30px;
  cursor: pointer;
}
.transBorder{
  font-family: HelveticaNeue, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  width: 200px;
  height: 60px;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  align-self: center;
  font-size: 30px;
  cursor: pointer;
}

.buttonClassBig {
  font-family: HelveticaNeue, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  background-color: #0aaee4;
  width: 240px;
  height: 76px;
  border: none;
  border-radius: 7px;
  color: white;
  align-self: center;
  font-size: 30px;
  cursor: pointer;
}
