.header {
  background-image: url('../../../../assets/images/bgHeader.jpeg');
  background-repeat: no-repeat;
  width: 100%;
  height: 1100px;
  background-position-x: -168px;
  background-position-y: -3px;
  box-shadow: 0 50px 100px -15px #000 inset, 0 -50px 100px -20px #000 inset;
  margin: 0 auto;
}

.transparent {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
