.Rating {
    height: 36px;
    width: 60px;
    border: 1px solid #0AAEE4;
    border-radius: 7px;
    display: flex;
    align-items: center;

}

.RatingScore {
    font-size: 25px;
    color: white;
    margin: 0 auto;
    font-weight: HelveticaNeue-Medium, AdobeInvisFont, MyriadPro-Regular, sans-serif;
}

.RatingScoreBlu {
    font-size: 25px;
    color: #0AAEE4;
    margin: 0 auto;
    font-weight: HelveticaNeue-Medium, AdobeInvisFont, MyriadPro-Regular, sans-serif;
    font-weight: bold;
}