.MenuVisibility {
  cursor: pointer;
}

.VarVisibility {
  display: flex;
}

.Squire {
  display: flex;
  width: 37px;
  height: 37px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 14px;
}

.fourSquire {
  width: 17px;
  height: 15px;
  background: #D6D8D8;
  border-radius: 2px;
}

.twoSquire {
  width: 34px;
  height: 15px;
  background: #D6D8D8;
  border-radius: 2px;
}

.Squire:hover .twoSquire {
  background: #0AAEE4;
}

.Squire:hover .fourSquire {
  background: #0AAEE4;
}